.header {
    background-color: rgb(235, 125, 15);
    color: white;
    height: 8rem;
    padding-top: 1rem;
    padding-bottom: auto;
    padding-left: 2rem;
}

button {

    width: 100%;
}

.balance-value {
    display: flex;
}

.hide-balance {
    margin-left: 8rem;
    width: 1rem;
}

