.header {
    background-color: rgb(235, 125, 15);
    color: white;
    height: 8rem;
    padding-top: 1rem;
    padding-bottom: auto;
    padding-left: 2rem;
}

.container {
    z-index: -1;
}

.square {
    width: 100%;
    min-width: 125px;
    min-height: 125px;
    font-size: 12px;
    
}

.balance-value {
    display: flex;
}

.hide-balance {
    margin-left: 8rem;
    width: 1rem;
}

